In [12]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
a = 10
print("The value of a is: %d"%a)

The value of a is: 10

In [4]:
for a in range(2, 30, 2):
    print("The value of a is: %d"%a)

The value of a is: 2
The value of a is: 4
The value of a is: 6
The value of a is: 8
The value of a is: 10
The value of a is: 12
The value of a is: 14
The value of a is: 16
The value of a is: 18
The value of a is: 20
The value of a is: 22
The value of a is: 24
The value of a is: 26
The value of a is: 28

In [5]:
a = [200000, 300000, 400000, 700000, 1200000]
for sal in a:
    print("Your salary is %d"%sal)

Your salary is 200000
Your salary is 300000
Your salary is 400000
Your salary is 700000
Your salary is 1200000

In [17]:
taxes_for_a = []
for sal in a:
    if sal <= 200000:
        tax = 0
    elif sal <= 500000:
        tax = 0 + (sal - 200000)*.1
    elif sal <= 1000000:
        tax = 0 + 30000 + (sal - 500000)*.2
    else:
        tax = 0 + 30000 + 100000 + (sal - 1000000)*.3
    taxes_for_a.append(tax)

In [18]:
taxes_for_a

[0, 10000.0, 20000.0, 70000.0, 190000.0]

In [19]:
list(zip(a, taxes_for_a))

[(200000, 0),
 (300000, 10000.0),
 (400000, 20000.0),
 (700000, 70000.0),
 (1200000, 190000.0)]

In [33]:
a = [33, 22, 44, 28, 26, 42, 48, 12]
temp = a.copy()
b = []
for val in temp:
    if val % 3 != 0:
        a.remove(val)
        b.append(val)
print(a)
print(b)

[33, 42, 48, 12]
[22, 44, 28, 26]

In [53]:
a = [33, 22, 44, 28, 26, 42, 48, 12]
b = []
j = 0
for i in range(0, len(a), 1):
    val = a[j]
    if val % 3 != 0:
        b.append(a.pop(j))
        j -= 1
    j += 1
    if j == len(a):
        break
print(a)
print(b)

[33, 42, 48, 12]
[22, 44, 28, 26]

In [46]:
a

[33, 42, 48, 12]

In [47]:
b

[22, 44, 28, 26]

In [50]:
for i in range(0, len(a), 1):
    print(a[i])

33
42
48
12

In [52]:
for i in a:
    print(i)

33
42
48
12

# Tuple: Access in tuple is always faster compared to list because of sequential storage

In [57]:
tuple_1 = (1, 2, 3, "ABCD", 2.4, 2)
print(tuple_1.count(2))
print(tuple_1.index("ABCD"))

2
3

In [58]:
type(tuple_1)

tuple

In [59]:
type(a)

list

# DICTIONARY

In [80]:
pincode = {"Wakad": 411057, "PS": 411027, "Rahatani": 411017}

In [73]:
print(pincode)
pincode

{'Wakad': 411057, 'PS': 411027, 'Rahatani': 411017}

{'PS': 411027, 'Rahatani': 411017, 'Wakad': 411057}

In [74]:
type(pincode)

dict

In [75]:
pincode['PS']

411027

In [67]:
name_sal = {"SURAJ": [10000, 20000, 400000000000], "NIKHIL": [900000, 83222, 3547628724983279]}

In [69]:
print(name_sal) # Same order
name_sal # Sorted

{'SURAJ': [10000, 20000, 400000000000], 'NIKHIL': [900000, 83222, 3547628724983279]}

{'NIKHIL': [900000, 83222, 3547628724983279],
 'SURAJ': [10000, 20000, 400000000000]}

In [71]:
name_sal["NIKHIL"][0]

900000

In [76]:
pincode.clear()

In [78]:
pincode

{}

In [81]:
pincode = {"Wakad": 411057, "PS": 411027, "Rahatani": 411017}
for i in pincode.keys():
    print(i)

Wakad
PS
Rahatani

In [84]:
for i in pincode.keys():
    print(i, pincode[i])

Wakad 411057
PS 411027
Rahatani 411017

In [87]:
print([(i, pincode[i]) for i in pincode.keys()])

[('Wakad', 411057), ('PS', 411027), ('Rahatani', 411017)]