In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Admin/Documents/Datasets/Credit.csv")

In [2]:
df.head()

,Unnamed: 0,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [3]:
X = df[["Cards"]]
y = df[["Student"]]
# from sklearn.preprocessing import LabelEncoder
X = X.join(pd.get_dummies(df.Gender))

In [4]:
X

     Cards   Male  Female
0        2      1       0
1        3      0       1
2        4      1       0
3        3      0       1
4        2      1       0
..     ...    ...     ...
395      3      1       0
396      5      1       0
397      5      0       1
398      1      1       0
399      5      0       1

[400 rows x 3 columns]

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

In [8]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
model = nb.fit(X_train, y_train)
pred = model.predict(X_test)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
pred

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No'], dtype='<U3')

In [11]:
import sklearn.metrics as sm
sm.confusion_matrix(y_test, pred)

array([[70,  0],
       [10,  0]], dtype=int64)

In [13]:
print(sm.classification_report(y_test, pred))

             precision    recall  f1-score   support

         No       0.88      1.00      0.93        70
        Yes       0.00      0.00      0.00        10

avg / total       0.77      0.88      0.82        80

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [37]:
probs = model.predict_proba(X_test)
pred_vals = probs[:, 1]
fpr, tpr, thresholds = sm.roc_curve(y_test, pred_vals, pos_label="Yes")
sm.auc()
# pred

# Label Encoding and One Hot Encoding

In [28]:
df[["Gender"]].join(pd.get_dummies(df.Gender)).head()

   Gender   Male  Female
0    Male      1       0
1  Female      0       1
2    Male      1       0
3  Female      0       1
4    Male      1       0

In [33]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_g = pd.DataFrame(le.fit_transform(df.Gender), columns=["Gender_LE"])
df[["Gender"]].join(df_g)

     Gender  Gender_LE
0      Male          0
1    Female          1
2      Male          0
3    Female          1
4      Male          0
..      ...        ...
395    Male          0
396    Male          0
397  Female          1
398    Male          0
399  Female          1

[400 rows x 2 columns]