In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/Admin/Documents/Datasets/50_Startups (1).csv")
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [26]:
y = df[["PROFIT"]]
X = df[["RND"]]
from sklearn.preprocessing import StandardScaler
# ss = StandardScaler()
# X = pd.DataFrame(ss.fit_transform(X), columns=["RND"])

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [28]:
from sklearn.neural_network import MLPRegressor
mlpr = MLPRegressor(random_state=30, solver="adam", max_iter=50000)
model = mlpr.fit(X_train, y_train["PROFIT"])
pred = model.predict(X_test)
from sklearn.metrics import mean_absolute_error
print("%.2f"%mean_absolute_error(y_test, pred))

24456.23

In [29]:
from sklearn.neural_network import MLPRegressor
mlpr = MLPRegressor(random_state=30, solver="lbfgs")
model = mlpr.fit(X_train, y_train["PROFIT"])
pred = model.predict(X_test)
from sklearn.metrics import mean_absolute_error
print("%.2f"%mean_absolute_error(y_test, pred))

24712.62

In [30]:
from sklearn.neural_network import MLPRegressor
mlpr = MLPRegressor(random_state=30, solver="sgd", max_iter=20000)
model = mlpr.fit(X_train, y_train["PROFIT"])
pred = model.predict(X_test)
from sklearn.metrics import mean_absolute_error
print("%.2f"%mean_absolute_error(y_test, pred))

77347810424606768.00

In [25]:
from IPython.display import Image
# Image(filename='/Users/bajajvbh/Desktop/Artificial-neural-network-architecture-ANN-i-h-1-h-2-h-n-o.png')