In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Admin/Documents/Datasets/iris.csv")

In [2]:
df.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [3]:
df = df.drop(labels="Unnamed: 0", axis=1)

In [4]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [31]:
print(df.corr())
X = df[["Sepal.Length", "Sepal.Width", "Petal.Length", "Petal.Width"]]
y = df[["Species"]]

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
model = lr.fit(X_train, y_train)
pred = model.predict(X_test)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
print(model.predict_proba(X_test))
model.score(X_test, y_test)

[[1.02551359e-02 6.75935104e-01 3.13809760e-01]
 [8.86851463e-01 1.13136176e-01 1.23608883e-05]
 [2.00822919e-05 4.25100585e-01 5.74879333e-01]
 [1.54598105e-02 5.67098020e-01 4.17442169e-01]
 [9.21821113e-03 7.56476510e-01 2.34305279e-01]
 [8.58389702e-01 1.41582360e-01 2.79386885e-05]
 [1.67644704e-01 7.09390744e-01 1.22964552e-01]
 [2.77063556e-03 3.03428997e-01 6.93800368e-01]
 [3.67645651e-03 5.89566059e-01 4.06757484e-01]
 [6.04213487e-02 7.93081128e-01 1.46497524e-01]
 [3.86238112e-03 3.14970407e-01 6.81167212e-01]
 [7.84763490e-01 2.15185350e-01 5.11594677e-05]
 [8.57919805e-01 1.42072138e-01 8.05668712e-06]
 [7.92653791e-01 2.07298190e-01 4.80189246e-05]
 [9.17308673e-01 8.26712478e-02 2.00795972e-05]
 [2.46838102e-02 5.53142541e-01 4.22173649e-01]
 [3.52077150e-04 2.73373528e-01 7.26274395e-01]
 [3.92096110e-02 7.83219018e-01 1.77571371e-01]
 [1.27204203e-02 5.68910651e-01 4.18368929e-01]
 [3.81137313e-04 2.96475982e-01 7.03142880e-01]
 [8.29503744e-01 1.70402845e-01 9.34110978e-05]
 [4.35950879e-03 3.51899032e-01 6.43741459e-01]
 [8.72012752e-01 1.27919026e-01 6.82222693e-05]
 [4.15111081e-04 3.13430304e-01 6.86154585e-01]
 [8.66033153e-04 3.65722806e-01 6.33411161e-01]
 [1.51940368e-03 2.75431493e-01 7.23049103e-01]
 [2.23352517e-04 4.24917445e-01 5.74859202e-01]
 [4.05455959e-04 2.47148853e-01 7.52445691e-01]
 [8.10516089e-01 1.89401894e-01 8.20167438e-05]
 [8.04092388e-01 1.95816257e-01 9.13552352e-05]]

1.0

In [29]:
from sklearn.metrics import confusion_matrix, accuracy_score
print(confusion_matrix(y_test, pred))
print(accuracy_score(y_test, pred))

[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]
1.0

In [30]:
y_test["Species"].value_counts()

virginica     11
setosa        10
versicolor     9
Name: Species, dtype: int64