In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/Admin/Documents/Datasets/iris.csv")

In [5]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df = df.drop("Unnamed: 0", axis=1)

In [6]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
df.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000

In [91]:
X = df[["Sepal.Length", "Sepal.Width", "Petal.Width"]]
y = df[["Petal.Length"]]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [92]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
lm = LinearRegression()
rr = Ridge()
ls = Lasso()

In [93]:
from sklearn.model_selection import GridSearchCV
tp = {"alpha": [0.1, 0.2, 0.3, 0.4, 1, 2, 3, 4]}

In [94]:
from sklearn.metrics import explained_variance_score
linear_model = lm.fit(X_train, y_train)
pred_lm = linear_model.predict(X_test)
ev_lm = explained_variance_score(y_test, pred_lm)
ev_lm

0.9632592254327711

In [95]:
cv_rr = GridSearchCV(rr, tp, scoring="neg_mean_squared_error", cv=4)
cv_ls = GridSearchCV(ls, tp, scoring="neg_mean_squared_error", cv=4)
cv_rr_model = cv_rr.fit(X_train, y_train)
cv_ls_model = cv_ls.fit(X_train, y_train)

In [96]:
cv_rr_model.best_params_

{'alpha': 0.4}

In [97]:
cv_ls_model.best_params_

{'alpha': 0.1}

In [115]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
rr = Ridge(alpha=0.4)
ridge_model = rr.fit(X_train, y_train)
pred_rr = ridge_model.predict(X_test)
# mean_absolute_error(y_test, pred_rr)
# explained_variance_score(y_test, pred_rr)
print(mean_squared_error(y_test, pred_rr))

rr = Ridge(alpha=3)
ridge_model = rr.fit(X_train, y_train)
pred_rr = ridge_model.predict(X_test)
# mean_absolute_error(y_test, pred_rr)
# explained_variance_score(y_test, pred_rr)
print(mean_squared_error(y_test, pred_rr))

0.1294212504040825
0.1280982898213029

In [99]:
ls = Lasso(alpha=0.1)
ls.fit(X_train, y_train)
pred_ls = ls.predict(X_test)
mean_absolute_error(y_test, pred_ls)

0.3175086544969746