In [1]:
# go to ANACONDA PROMPT:
#if this command doesn't work
#conda install mlxtend --channel conda-forge

#then use this one
#conda install -c rasbt mlxtend

#else use this one
#!pip install mlxtend --user

In [3]:
A = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
        ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
        ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
        ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
        ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [8]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(A).transform(A)

In [9]:
print(te_ary)
print(te.columns_)

[[False False False  True False  True  True  True  True False  True]
 [False False  True  True False  True False  True  True False  True]
 [ True False False  True False  True  True False False False False]
 [False  True False False False  True  True False False  True  True]
 [False  True False  True  True  True False False  True False False]]
['Apple', 'Corn', 'Dill', 'Eggs', 'Ice cream', 'Kidney Beans', 'Milk', 'Nutmeg', 'Onion', 'Unicorn', 'Yogurt']

In [10]:
import pandas as pd
B = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
B

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [23]:
from mlxtend.frequent_patterns import apriori
C = apriori(B, min_support=0.5, use_colnames=True)
display(C)
C.itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Eggs, Onion)

0                          (Eggs)
1                  (Kidney Beans)
2                          (Milk)
3                         (Onion)
4                        (Yogurt)
5            (Kidney Beans, Eggs)
6                   (Eggs, Onion)
7            (Kidney Beans, Milk)
8           (Kidney Beans, Onion)
9          (Kidney Beans, Yogurt)
10    (Kidney Beans, Eggs, Onion)
Name: itemsets, dtype: object

In [24]:
C = apriori(B, min_support=0.5, max_len=2, use_colnames=True)
display(C)
C.itemsets

   support                itemsets
0      0.8                  (Eggs)
1      1.0          (Kidney Beans)
2      0.6                  (Milk)
3      0.6                 (Onion)
4      0.6                (Yogurt)
5      0.8    (Kidney Beans, Eggs)
6      0.6           (Eggs, Onion)
7      0.6    (Kidney Beans, Milk)
8      0.6   (Kidney Beans, Onion)
9      0.6  (Kidney Beans, Yogurt)

0                    (Eggs)
1            (Kidney Beans)
2                    (Milk)
3                   (Onion)
4                  (Yogurt)
5      (Kidney Beans, Eggs)
6             (Eggs, Onion)
7      (Kidney Beans, Milk)
8     (Kidney Beans, Onion)
9    (Kidney Beans, Yogurt)
Name: itemsets, dtype: object

In [26]:
l = []
for i in C.itemsets:
    l.append(len(i))
l

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

In [27]:
C["lth"] = l

In [28]:
C[C.lth > 1]

   support                itemsets  lth
5      0.8    (Kidney Beans, Eggs)    2
6      0.6           (Eggs, Onion)    2
7      0.6    (Kidney Beans, Milk)    2
8      0.6   (Kidney Beans, Onion)    2
9      0.6  (Kidney Beans, Yogurt)    2