# List

In [63]:
lst = [1, 2, 3, 'xyz']

Adding to list

In [64]:
lst.append([5, 2, 1])
lst.extend(['abcd', 'efgh'])
lst.insert(2, 'new insertion')
lst

[1, 2, 'new insertion', 3, 'xyz', [5, 2, 1], 'abcd', 'efgh']

Deleting from list

In [65]:
del lst[-1]
lst.pop(-1)
lst.remove('xyz')
lst.clear()
lst

[]

Accessing from list

In [66]:
lst = [1, 2, 'new insertion', 3, 'xyz', [5, 2, 1], 'abcd', 'efgh']
for ele in lst:
    print(ele)
lst[0]
lst[0: 4]
print(*range(3, 7))  # STARRED EXPRESSION: UNPACKING OPERATOR
lst[::2] # skip one element
lst[::-1] # reverse

1
2
new insertion
3
xyz
[5, 2, 1]
abcd
efgh
3 4 5 6

['efgh', 'abcd', [5, 2, 1], 'xyz', 3, 'new insertion', 2, 1]

Other functions

In [92]:
lst.append('xyz')
len(lst)
lst.index('xyz') 
lst = [1, 2, 3, 10, 30, 10]
sorted(lst) # lst should conatin only one type of elements
lst.sort(reverse=True) # lst should conatin only one type of elements
lst

[30, 10, 10, 3, 2, 1]

# Dictionary

In [69]:
dct = {} #empty dictionary
print(dct)
dct = {1: 'Python', 2: 'Java'} #dictionary with elements
print(dct)

{}
{1: 'Python', 2: 'Java'}

Adding to dictionary and Updating existing values

In [72]:
dct['new key'] = 'new value'
dct[1] = 'Advanced Python'

Deleting from dictionary

In [86]:
dct = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}
dct.popitem() # result: {'First': 'Python', 'Second': 'Java'}
dct.pop('First') # result: {'Second': 'Java'}
dct.clear() # result: {}
dct

{}

Accessing from dictionary

In [91]:
dct = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}
dct['First']
dct.get('First', 'DefaultVal')
dct.get('Fourth', 'DefaultVal')

'DefaultVal'

Other functions

In [97]:
len(dct)
dct.keys()
dct.values()
dct.items()
dct.copy

dict_items([('First', 'Python'), ('Second', 'Java'), ('Third', 'Ruby')])

# Tuple  -- immutable but, can contain mutable items like list

In [125]:
tup = (1, 2, 3, 'hello')

Accessing from tuple

In [126]:
for x in tup:
    print(x)
tup[0]
tup[:]
tup[2:4]
tup[3][0:2]
tup[1:4][0:2]

1
2
3
hello

(2, 3)

Tuple is immutable.
But, we can add values and reassign

In [127]:
tup = tup + (10, 22, 30, 'Str value')
tup

(1, 2, 3, 'hello', 10, 22, 30, 'Str value')

Other functions -- We can change the list stored inside a tuple bcoz the list inside tuple is mutable

In [141]:
tup = (1, 2, 3, ['.Net', 'Hindi', 'Python'])
tup.index(['.Net', 'Hindi', 'Python'])
tup[3][0] = 'Java'
tup[3].append('English')
# tup.index(['.Net', 'Hindi', 'Python', 'English'])  # This won't work -- may b bcoz after appending 'English', the list object got changed
tup.count(2)
tup.count(['.Net', 'Hindi', 'Python', 'English']) # Not found -- may b bcoz after appending 'English', the list object got changed

0

# Set

In [155]:
m_set = my_set = {1, 2, 3, 4, 5, 5, 5}
m_set

{1, 2, 3, 4, 5}

Adding to set

In [156]:
m_set.add(6)
m_set

{1, 2, 3, 4, 5, 6}

Deleting from set

In [157]:
m_set.remove(6)
m_set.discard(5)
m_set.discard(7)
# m_set.remove(7) # unlike discard, this will raise error
m_set

{1, 2, 3, 4}

Operations on set

The union() function combines the data present in both sets.

The intersection() function finds the data present in both sets only.

The difference() function deletes the data present in both and outputs data present only in the set passed.

The symmetric_difference() does the same as the difference() function but outputs the data which is remaining in both sets.

In [170]:
m_set = {1, 2, 3, 4}
n_set = {3, 4, 5, 6}
m_set.union(n_set)
m_set | n_set
m_set.intersection(n_set)
m_set & n_set
m_set.difference(n_set)
m_set - n_set
m_set.symmetric_difference(n_set)
m_set ^ n_set
m_set.clear()
m_set

set()